<div id='cssmenu'>
    <ul>
        <li ui-sref-active='active'><a ui-sref="home">Home</a></li>
        <li ui-sref-active='active'><a ui-sref="history">History</a></li>
        <li ui-sref-active='active'><a ui-sref="members">Members</a></li>
        <li ui-sref-active='active'><a ui-sref="meetings">Meetings</a></li>
        <li ui-sref-active='active'><a ui-sref="contact">Contact us</a></li>
        <!--<li ui-sref-active='active'><a ui-sref="signup">Sign Up</a></li>
        <li ui-sref-active='active'><a ui-sref="login">Login</a></li>-->
    </ul>
</div>

<!-- ui-sref-active="active" -->
